* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fb8500;
}
i {
    color: white;
}

.margin-auto {
    max-width: 1170px;
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-container img {
    height: 30px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}
.nav-links li {
    padding-right: 10px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.item {
    width: calc(100% / 3);
    padding: 20px;
}

.item-img {
    position: relative;
}
.item-img img {
    width: 100%;
}
.item-img i {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    color: black;
    padding: 10px;
}

.discount {
    position: absolute;
    bottom: 30px;
}
.percentage {
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 5px;
    margin-right: 1px;
}
.sostenibilita {
    font-size: 12px;
    background-color: green;
    color: white;
    padding: 5px;
}

.price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}

footer {
    background-color: #0d1b2a;
}

.fcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px 0;
}

.ftext ul {
    list-style-type: none;
    display: flex;
}
.ftext a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.ftext ul li {
    padding-right: 10px;
}

.fsocial {
    text-align: center;
}
.social {
    margin-top: 10px;
}